@import 'compass';

$round-to-nearest-half-line : true;

@font-face {
  font-family: "PT Serif Caption";
  font-style: normal;
  font-weight: 400;
  src: local("Cambria"), local("PT Serif Caption"), local("PTSerif-Caption"), url(https://themes.googleusercontent.com/static/fonts/ptserifcaption/v4/7xkFOeTxxO1GMC1suOUYWWhBabBbEjGd1iRmpyoZukE.woff) format('woff');
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Segoe UI Bold"), local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}


h1,h2,h3,h4,h5,h6 {
font-family:$font-family-sans-serif;
    font-weight:200;
}

h1 {
    @include adjust-font-size-to(56px,4); 
    margin: 0 auto ;
}

h2 {
    @include adjust-font-size-to(38px,2); 
    margin: 0 auto;
}

h3 {
    @include adjust-font-size-to(30px,2); 
    margin: 0 auto;
}

h4 {
    @include adjust-font-size-to(24px,1);  
    margin: 0 auto;
}

h5 {
    @include adjust-font-size-to(16px,0.75);
    margin: 0 auto rhythm(0.25, 16px);
}

h6 {
    @include adjust-font-size-to(12px,0.5);
    margin: 0 auto rhythm(0.5, 12px);
}

p {
    @include adjust-font-size-to(16px,1);
    margin:  rhythm(0.5, 16px) auto;
}

.text-left {
    text-align:left;
}

.text-center {
    text-align:center
}

.text-right {
    text-align:right;
}

.text-muted {
    color : $color-muted !important;
}

.text-info {
color : $color-info !important;
}

.text-alert {color : $color-alert !important;}
.text-warning {color : $color-warning !important;}
.text-success {color : $color-success !important;}

abbr {
    cursor:help;
}

address {
    font-size:$base-font-size;
    line-height:$base-line-height;
}

blockquote {
    border-left: 4px $light-grey solid;
    padding-left: 10px;

    small {
        color: $color-muted;
        &::before {
            content: "\2014 \00A0";
        }
    }

    &.pull-right {
        text-align:right;
        border-right: 4px $light-grey solid;
        padding-right: 10px;
        border-left:none;
        padding-left:0;

        small {
            &::before {
                content: "";
            }
            &::after {
                content: " \2014 \00A0";
            }
        }
    }
}

ul {
    ul {
        padding-left:20px;
    }
}

ul.list-unstyled {
    padding-left:20px;
    
    & > li {
        list-style-type:none;
    }
}

ul.list-inline {
    list-style:none;

    & > li {
        padding: 0 5px;
        display:inline-block;
    }
}

dl {
    dt {
        font-weight:bold;
    }

    dd {
        margin-left:20px;
    }
}

dl.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    dd {
        margin-left: 180px;
    }
}